*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;

}

.nav-bar {
    border-radius: 25px;
    width: fit-content;
    background-color:yellow;
    padding: 13px;
    font-size: 20px;
    display: flex;
    gap: 25px;
    margin-top: 10px;

}

.highlighted-nav {
    border-radius: 15px;
    padding: 4px 8px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.highlighted-nav:hover {
    background-color: blue;
    transform: translateY(-10%);
}
.highlighted-nav:focus {
    background-color: yellow;
    transform: translateY(0%);
}
